{% load static %}
{% block main %}
    {% load app_django_extras %}
        <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">
    {% block prestyles %}{% endblock prestyles %}
    <link href="signin.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/fontawesome/css/all.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="py-5 text-center">
      <a href="{% url 'django_app:home' %}" class="btn btn-outline-primary" type="submit" style="padding-left: 50px; padding-right: 50px; margin: 3px;">&#11013; Go back</a>
      <h2>Creating new user</h2>
      <p class="lead">fill in the fields and click create</p>
    </div>
    <form method="POST" action="{% url "django_app:register" %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="usernameHelp" placeholder="Ваш логин" required name="username"/>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ваш пароль" required name="password"/>
  </div>
  <button type="submit" class="btn btn-primary">Создать</button>
</form>

{% endblock main %}
