{% load app_django_extras %}
{% load static %}


{% block head %}{% endblock head %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

<div class="container-fluid">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <img src="{{ user.profile.image.url }}" alt="Generic placeholder image" class="img-fluid " style="width: 50px; height: 50px; z-index: 1; border-radius: 100%; margin-top: 5px">
        {% if user.is_authenticated %}
            <a href="{% url 'django_app:profile' %}" type="button" class="btn btn-outline-Success me-2" style="padding-top: 15px; margin-left:15px" >Profile({{ user.username}})</a>
        {% else %}
            <a href="{% url 'django_app:profile' %}" type="button" class="btn btn-outline-primary me-2" style="margin-left: 15px;">Profile(anonymous)</a>
        {% endif %}
    <a href="{% url 'django_app:home_main' %}" class="btn btn-outline-primary" type="submit" style="padding-left: 50px; padding-right: 50px;">Home</a>
    <a href="{% url 'django_app:post_create' %}" class="btn btn-outline-primary" type="submit" style="padding-left: 50px; padding-right: 50px; margin-left: 8px;">Tweet your tweet</a>
    <a href="{% url 'django_app:post_list' %}" class="btn btn-outline-primary" type="submit" style="padding-left: 50px; padding-right: 50px; margin-left: 15px;">All your posts</a>
    <a href="{% url 'django_app:todo_create' %}" class="btn btn-outline-primary" type="submit" style="padding-left: 50px; padding-right: 50px; margin-left: 15px;">Todo create</a>

  </ul>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="margin-top: 15px">
    <div class="text-end">
      {% if user.is_authenticated %}
          <a href="{% url 'django_app:logout' %}" type="button" class="btn btn-outline-danger me-2" style="margin-top: 15px">Logout</a>
      {% else %}
          <a href="{% url 'django_app:login' %}" type="button" class="btn btn-outline-primary me-2">Login(anonymous)</a>
      {% endif %}
      </div>
  </form>
</div>
</div>
</nav>
<h1 align="center">All todos</h1>

<div align="center">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font_awesome_6_0_0/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font_zen/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<link href="/css/my.css" rel="stylesheet" crossorigin="anonymous">
<link href="{% static 'css/my3.css' %}" rel="stylesheet" crossorigin="anonymous">
<div class="container shadow-lg custom-background-transparent-hard m-0 p-0" align="">
    <div class="shadow border-bottom m-0 p-0">
        <div class="d-flex justify-content-around">
            <h6 class="lead fw-bold m-1 p-2">todos <i class="btn btn-sm btn-dark bg-opacity-50 badge rounded-pill">{{ todo_count }}</i>:</h6>
            <a class="text-decoration-none btn btn-sm btn-success m-1 p-2" href="{% url 'django_app:todo_create' %}">
                <i class="fa-solid fa-circle-plus m-0 p-1"></i>
                create new todo
            </a>
        </div>
    </div>
    {% if page %}
    <div class="text-end">
        <form action="{% url 'django_app:todo_read_list' %}"
        method="GET"
        target="_self"
        enctype="multipart/form-data"
        name="idea_create"
        autocomplete="on"
        class="m-0 p-0"
        >
        {% csrf_token %}
        <div>
        <input type="hidden"
           name="is_detail_view"
           required=""
           placeholder=""
           {% if is_detail_view %}
                value="False"
           {% else %}
                value="True"
           {% endif %}
           minlength="1"
           maxlength="32"
           class="form-control form-control-sm"
        />
        </div>
        {% if is_detail_view %}
            <button class="btn btn-lg m-0 p-1" type="submit">
                <i class="fa-solid fa-list-check text-secondary m-0 p-1"></i>
                list view
            </button>
        {% else %}
            <button class="btn btn-lg m-0 p-1" type="submit">
                <i class="fa-solid fa-calendar-week text-secondary m-0 p-"></i>
                detail view
            </button>
        {% endif %}
        </form>
    </div>

    {% if page %}

        {% if is_detail_view %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for todo in page %}
                    <div class="col">
                        <div class="card border border-1 border-dark custom-background-transparent-middle m-1 p-0">
                            <div class="card-header">
                                <div class="m-0 p-3">
                                    <div class="d-flex justify-content-around">
                                        <a class="text-decoration-none text-dark" href="{% url 'django_app:todo_read' todo.id %}">
                                            <h5>{{ todo.title|cut_string:30 }}</h5>
                                        </a>
                                        <form action="{% url 'django_app:todo_update' todo.id %}"
                                              method="POST"
                                              target="_self"
                                              enctype="multipart/form-data"
                                              name="idea_create"
                                              autocomplete="on"
                                              class="m-0 p-0"
                                        >
                                            {% csrf_token %}
                                            <div>
                                                <input type="hidden"
                                                   name="is_completed"
                                                   required=""
                                                   placeholder=""
                                                   {% if todo.is_completed %}
                                                        value="False"
                                                   {% else %}
                                                        value="True"
                                                   {% endif %}
                                                   minlength="1"
                                                   maxlength="32"
                                                   class="form-control form-control-sm"
                                            />
                                            </div>
                                            <div class="btn-group m-0 p-1">
                                                {% if todo.is_completed %}
                                                    <button class="btn btn-sm btn-outline-danger m-0 p-1" type="submit">
                                                        <i class="fa-solid fa-circle-xmark text-danger m-0 p-1"></i>
                                                        not complete
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-sm btn-outline-success m-0 p-1" type="submit">
                                                        <i class="fa-solid fa-circle-check text-success m-0 p-1"></i>
                                                        complete
                                                    </button>
                                                {% endif %}
                                                <a href="{% url 'django_app:todo_delete' todo.id %}" class="btn btn-sm btn-outline-danger m-0 p-1">
                                                    <i class="fa-solid fa-circle-minus text-danger m-0 p-1"></i>
                                                    delete
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                    {% if todo.is_completed %}
                                        <div class="feature-icon bg-success bg-gradient text-white">
                                            <p class="m-0 p-1"></p>
                                        </div>
                                    {% else %}
                                        <div class="feature-icon bg-danger bg-gradient text-white">
                                            <p class="m-0 p-1"></p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="m-0 p-3">{{ todo.description|cut_string:100 }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between m-0 p-1">
                                    <small class="text-warning m-1 p-0">
                                        {{ todo.created }} [created]
                                    </small>
                                    <small class="text-success m-1 p-0">
                                        {{ todo.updated }} [updated]
                                    </small>
                                </div>
                                <a class="text-decoration-none text-dark" href="{% url 'django_app:todo_read' todo.id %}">
                                    <button class="btn btn-sm btn-outline-primary w-100 m-0 p-1" type="submit">
                                        <i class="fa-solid fa-circle-info m-0 p-1"></i>
                                        details
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="m-0 p-1">
                <ul class="m-0">
                    {% for todo in page %}
                        <li class="text-start m-0 p-0 border border-1 border-dark p-1">
                            {% if todo.is_completed %}
                                <div class="feature-icon bg-success d-flex justify-content-between">
                            {% else %}
                                <div class="feature-icon bg-danger d-flex justify-content-between">
                            {% endif %}
                                <a class="text-decoration-none text-white small w-50" href="{% url 'django_app:todo_read' todo.id %}">
                                    <div class="d-flex">
                                        <h6 class="lead m-1 p-1">{{ todo.description|cut_string:20 }}</h6>
                                        <small class="m-0 p-2">{{ todo.description|cut_string:30 }}</small>
                                    </div>
                                </a>
                                <div class="m-1 p-1">
                                    <small class="text-white m-1 p-0">
                                        {{ todo.updated }} [updated]
                                    </small>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="container d-flex justify-content-center align-self-center">
            {% include 'components/pagination_todos.html' %}
        </div>
    {% endif %}
{% else %}
        {% include 'components/aborted.html' %}
    {% endif %}
</div>
</div>